
:root {
	--base-bg: #0f000f;
	--bg-secondary: #181818;
	--bbg: #2c2c2c;
	--fg-bg: #3a3a3a;
	--fg-bg-sc: #343232;
}

* {
	color: #fff
}

#switchboard {
	background-color: #4c494900;
	background-image:
		linear-gradient(-45deg, transparent 10%, var(--fg-bg-sc) 10%,var(--fg-bg-sc) 20%, transparent 20%, transparent 80%, var(--fg-bg-sc) 80%, var(--fg-bg-sc) 90%,transparent 85%),
		linear-gradient(45deg, transparent 10%, var(--fg-bg-sc) 10%,var(--fg-bg-sc) 20%, transparent 20%, transparent 80%, var(--fg-bg-sc) 80%, var(--fg-bg-sc) 90%,transparent 85%),
		linear-gradient(var(--fg-bg) 10%, transparent 10%, transparent 90%, var(--fg-bg) 90%, var(--fg-bg)),
		linear-gradient(90deg, var(--fg-bg) 10%, transparent 10%, transparent 90%, var(--fg-bg) 90%, var(--fg-bg));
	background-size: 240px 240px;
	height: 100%;
	background-origin: revert;
	border-style: solid;
	border-width: 1rem;
	border-color: var(--fg-bg-sc);
	border-radius: 0;
}

html {
	background-color: var(--base-bg);
	background-image:
		linear-gradient(var(--bg-secondary) 10%, transparent 10%, transparent 90%, var(--bg-secondary) 90%, var(--bg-secondary)),
		linear-gradient(90deg, var(--bg-secondary) 10%, transparent 10%, transparent 90%, var(--bg-secondary) 90%, var(--bg-secondary));
	background-size: 60px 60px;
	background-attachment: fixed;
}

body {
	display: flex;
	flex-direction: column;
	background-image:
		linear-gradient(var(--bbg) 10%, transparent 10%, transparent 90%, var(--bbg) 90%, var(--bbg)),
		linear-gradient(90deg, var(--bbg) 10%, transparent 10%, transparent 90%, var(--bbg) 90%, var(--bbg));
	background-size: 90px 90px;
	background-attachment: fixed;
}

.warn {
	background-color: #e74d4d;
	border-style: none;
	border-radius: 5px;
	color: white;
}

.warn:active {
	background-color: #500000;
}

button {
	padding: 5px;
}

.inline {
	border-style: solid;
	border-width: 0px 0px 0px 1rem;
}

.inline.warn {
	border-color: #ff0000;
	margin: 0;
	padding: 1rem 0px 1rem 0.5rem;
	background-color: #ec496f78;
	border-radius: 0 50px 50px 0;
}

.content {
	margin: 2rem;
}

a {
	transition: 0.5s;
}

a:hover {
	color: #ff5555;
}

svg text {
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-stretch:condensed;
	line-height: 100%;
	font-size:26.6667px;
	font-family:Impact;
	-inkscape-font-specification:'Impact Condensed';
	text-align:center;
	writing-mode:lr-tb;
	direction:ltr;
	white-space:pre-line;
	fill:#000000;
	fill-opacity:1;
	stroke:#000000;
	stroke-width:0;
	stroke-linecap:round;
	stroke-dasharray:none;
	stroke-opacity:1;
	paint-order:markers fill stroke;
}